################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SCN-Student/v17
ProyectoStudent/.vs/ProyectoStudent/DesignTimeBuild/.dtbcache.v2
ProyectoStudent/.vs/ProyectoStudent/DesignTimeBuild/.dtbcache.v2
*.v2
*.v2
/ProyectoStudent
*.vsidx
/ProyectoStudent/.vs/ProyectoStudent
ProyectoStudent/.vs/ProyectoStudent/DesignTimeBuild/.dtbcache.v2
*.v2
